
<h1 id="indexheader"> Explore The Site </h1>


<section id="buttons">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-12" id="button1">
        <a href="product.html">SHOP</a>
      </div>
      <div class="col-sm-6 col-lg-6 col-12" id="button2">
        <a href="#button4">ABOUT US</a>
      </div>
      <div class="col-sm-6 col-lg-6 col-12" id="button3">
        <a href="shop.html">CONTACT US</a>
      </div>
    </div>
  </div>
</section>

<section id="contactfooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12" id="indexcontact">
        <div id="loc">
          <h2> LOCATION </h2>
          <h5> Unit 7 Cromford Road, Cromford Road Industrial Estate </h5>
          <h5> Langley Mill,  Nottingham, Nottinghamshire </h5>
          <h5 id="bottom"> NG16 4FL </h5>
        </div>
        <div id="loc">
          <h2> REACH US </h2>
          <h4> PHONE :  </h4>
          <h5> 01773 767777 </h5>
          <h4> EMAIL: </h4>
          <h5 id="bottom"> SALES@A1DIRECTSUPPLIES.CO.UK </h5>
        </div>
      </div>
      <div class="col-sm-6 col-12" id="indexmap">
        <iframe  height="450" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJoX5_CcfseUgRlFeTy4lD200&key=AIzaSyBk3Xyz0fVuEjP63GZ5sY9O4LUlwEgGOuk" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
